body{
    background-color: #f1f5f9;
}
.promo{
    padding: 90px 0 0 0;
    img{
        margin: 0 auto;
    }
}
.order-pages{

    .breadcrumbs{
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        padding: 20px 0 20px 10px;
        .active{
            color: #007bff;
        }
        li {
            a{
                color: #6c6e78;
            }
            &:nth-child(2) a{
                color: black;
            }
        }
        &> li + li:before {
            color: #6c6e78;;
            content: "\f105";
            font-family: "FontAwesome";
            padding: 0 8px;
            }
        
    }

    .shipping{
        &__log-in{
            position: absolute;
            right: 10px;
            span{
                padding-right: 5px;
            }
        }
        &__form{
            display: flex;
            flex-direction: column;
            
            label{
                font-size: 22px;
                color: black;
            }
            .input-checkbox-radio{
              margin-top: 10px;
            }
            input{
                padding: 7px 10px 7px 10px;
                font-size: 18px;
                margin: 5px 0;
                border-radius: 2px;
                outline: none;
                border: none;
                border: solid 1px #cdd0d4;
                border-radius: 5px;
            }

            .row-2{
                display: grid;
                grid-template-columns: 49.4% 49.4%;
                justify-content: space-between;
               
            }
            .row-3{
                display: grid;
                grid-template-columns: 32.66666666666667% 32.66666666666667% 32.66666666666667%;
                justify-content: space-between;
               
            }
            
            .choisis {
                .choisis-label{
                    position: absolute;
                    font-size: 14px;
                    color: #919191;
                    margin-left: 9px;
                    margin-top: 4px;
                    
                }
                select{
                    width: 100%;
                    padding: 12px 0 4px 10px;
                    margin-top: 4px;
                    font-size: 18px;
                    border-radius: 2px;
                    outline: none;
                    border: none;
                    border: solid 1px #cdd0d4;
                    border-radius: 5px;

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    appearance: none;

                    background: url('../img/icons/sort-down-arrows-couple.png') no-repeat right 5px center;
                    outline: 0;
                    background-size: 26px;
                    background-color: white;
                }

            }
           button{
               width: 100%;
               padding: 15px 0;
               color: white;
               background-color: #1f5e88;
               border: none;
               border-radius: 5px;
               font-size: 18px;
           }

           
           

        }
        &__return{
            position: absolute;
            bottom: 15px;
            a::before{
                color: #007bff;
                content: "\f104";
                font-family: "FontAwesome";
                padding: 0 8px;
           }

        } 
        
    }
    .chechout-bottom{
        // padding-right: 60px;
        margin-bottom: 20px;
        a{
            padding-right: 20px;
        }
    }
    .vertborder{
      border-right: 1px solid rgba(0,0,0,0.1);;
      height: 700px;
      width: 1px;
      max-width: 3.33333%;
    }
    .cart{
      padding-left: 15px;
      &__inner{
          display: flex;
          justify-content: space-between;
        .cart-icon{
          &-count{
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: #808080;
            text-align: center;
            position: absolute;
            z-index: 3;
            transform: translate(200%, -50%);
            span{
              color: white;
              font-size: 20px;
            }

          }
          
          &-img{
            width: 90px;
            height: 80px;
            background-color: white;
            position: relative;
            border: solid 0.8px #cdd0d4;
            border-radius: 5px;
            z-index: 2;
            img{
              position: absolute;
              top: 20%;
              z-index: 1;
              padding: 1px;
            }
          }
        }
        .cart-description{
          padding-left: 20px;
          span{
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }
          p{
            color: #6a6c6f;
            font-size: 18px;
            text-transform: uppercase;
            line-height: 1.2;
          }
        }
        h5{
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
          margin: auto 0;
      }
      }
      .shipping__form{
        .row-5-1{
          display: grid;
          grid-template-columns: 73% 25%;
          justify-content: space-between;
         
        }
        .btn-cart{
          padding: 10px 0;
          margin: 5px 0;
          background-color: #bdc0c5;
        }

      }
      
      .subtotal, .cart-shipping, .total{
        display: flex;
        justify-content: space-between;
        span{
          font-size: 18px;
        }
      }
      .subtotal {
        h5{
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      .cart-shipping{
        p{
          color: #6a6c6f;
        }
      }
      .total h3, h5{
          font-weight: bold;
      }

    }
    
    @media screen and (max-width: 991px) {

      .shipping{
        padding-top: 50px;
      }
     
      .vertborder{
        display: none;
      }
      .cart{
        padding-left: 0;
      }
      
  }
  @media screen and (max-width: 575px) {
    .shipping__form .row-2, .shipping__form .row-3{
      grid-template-columns: 100%;
    }
    .shipping__return{
      position: static;
      margin-top: 20px;
    }
    .shipping__log-in{
      top: 20px;
    }
    .cart__inner{
      flex-direction: column;
      .cart-description{
        padding-left: 0;
        padding-top: 20px;
      }
    }
    .shipping__form .input-checkbox input[type='checkbox']+label{
      font-size: 16px;
    }

  }

}